.form-signin {
    width: 100%;
    max-width: 425px;
    padding: 15px;
    margin: auto;
}

body {
	background-color: #f5f5f5;
}

.container {
	background-color: #fff;
}

.form-control, .btn {
    margin-bottom: 30px;
}